[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
vulture = "*"
black = "==19.10b0"

[packages]
pymongo = "*"
psycopg2 = "*"
flask = "*"
flask-bootstrap4 = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-wtf = "*"
bcrypt = "*"
flask-simple-geoip = "*"
haversine = "*"
gunicorn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
