[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pre-commit = "*"
vulture = "*"

[packages]
pymongo = "*"
psycopg2 = "*"
python-dotenv = "*"
flask = "*"
flask-bootstrap4 = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
