<!-- nearby.html -->
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>{{ title }}</h1>

    {% for shop in all_shops %}
    <div class="card" style="width: 200px;">
        <div class="card-body">
            <h6 class="card-title">{{ shop.name }}</h6>
            <img src="{{ shop.picture }}" class="card-img-top" alt="..." style="padding-bottom: 10px;">
            <button type="button" class="btn btn-danger btn-sm" style="width: 77px;">Dislike</button>
            <button type="button" class="btn btn-success btn-sm" style="width: 77px;">Like</button>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}