<!-- preferred.html -->
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>{{ title }}</h1>

    <div class="row justify-content-md-center">
        {% for shop in all_preferred_shops %}
        <div class="card" id="{{ shop.id }}">
            <div class="card-body">
                <h6 class="card-title">{{ shop.name }}</h6>
                <img src="{{ shop.picture }}" class="card-img-top" alt="...">
                <div>
                    <button type="button" class="btn btn-danger btn-sm" style="width: 70px;"
                        onclick="removePreferred(this)">Remove</button>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock content %}